[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SHAPforxgboost"]
	path = SHAPforxgboost
	url = https://github.com/liuyanguu/shapforxgboost
